{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <h1>Sign In</h1>
    <h3>let's get started</h3>
    <form method="POST" action="/agentSignIn">
        <label for="userName">Enter your name:</label>
        <input type="text" name="userName" placeholder="Enter here" required>
        <br>
        <label for="userPhone">Enter your phone number:</label>
        <input type="text" name="userPhone" placeholder="Enter here" required>
        <br>
        <label for="userEmail">Enter your Email:</label>
        <input type="text" name="userEmail" placeholder="Enter here" required>
        <br>
        <label for="userFirm">Select your firm:</label>
        <select name="userFirm" id="userFirm">
            <option value="0">Select firm</option>
        {% for firm in firms %}
            <option value="{{ firm.firm_id }}">{{firm.name}}</option>
        {% endfor %}
        </select>
        <br>
        <label for="userCommission">Enter your commission rate:</label>
        <input type="number" name="userCommission" placeholder="Enter here" required>
        <br>
        <button type="submit" style="background-color:rgb(47, 167, 101); color:white">
            Sign Up
        </button>
    </form>
    <br>
{% endblock %}