{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Purchase Property</h1>
<p>By entering this transaction, it is assumed that you, the buyer, 
    have consulted with your agent and the listing agent 
    for this property. All parties have agreed to make this transaction.
</p>
<form method="POST" action="{{ url_for('purchaseProperty', property_id=property.property_id) }}">
    <label for="userId">Enter your id:</label>
    <input type="number" name="userId" placeholder="Enter here">
    <label for="userName">Enter your name:</label>
    <input type="text" name="userName" placeholder="Enter here">
    <br><br>
    <table>
        <tr>
            <th style="width:300px">Address</th>
            <th style="width:100px">Listed Price</th>
            <th style="width:100px">Listing Agent</th>
            <th style="width:100px">Lising Client</th>
        </tr>
        <tr>
            <th>{{property.address}}</th>
            <th>${{property.price}}</th>
            <th>{{property.client.agent.name}}</th>
            <th>{{property.client.name}}</th>
        </tr>
    </table>
    <button type="submit" style="background-color:rgb(47, 167, 101); color:white">
        CONFIRM
    </button>
</form>
<a href="/properties">
    <button style="background-color:rgb(47, 167, 101); color:white">
        CANCEL
    </button>
</a>
<br>
<br>
{% endblock %}