:root{
    --var-eggshell: rgb(241, 233, 218);
    --var-jade: rgb(47, 168, 102);
    --var-eggplant: #52414C;
}

body{
    margin: 0;
    background-color: var(--var-eggshell);
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input, select, button{
    font-family: inherit;
    font-size: inherit;
}

nav{
    background-color: var(--var-eggplant);
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

nav a {
    color: var(--var-eggshell);
    text-decoration: none;
    padding: 0.5em;
}

nav a:hover{
    background-color: var(--var-eggshell);
    color: var(--var-eggplant);
    cursor: pointer;
}

.center{
    margin: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.page-content {
    margin-top: 5vh;
    padding: 5vh;
    width: 60%;
    background-color: var(--var-jade);
    border-radius: 5vh;
}

.button{
    display: inline-block;
    margin: 2%;;
    padding: 1% 2%;
    background-color: var(--var-eggplant);
    color: var(--var-eggshell);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.white-button{
    background-color:white;
    font-size: 24px;
}

#welcome{
    margin: 2%;
}

#signup-button-section{
    width:500px;
    flex-direction: row;
}