{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1 class="page-header center">Welcome, {{agent.name}}</h1>

<section>
    <h3>Your Id: {{agent.agentID}}</h3>
    <h3>Your Firm: {{agent.firm.name}}</h3>
    <h3>Commision rate: {{agent.commission_rate}}%</h3>
</section>

<h1 class="page-header center">Your Clients:</h1>
{% if clients | length == 0 %}
    <p>
        You currently have no clients. It's becuase you are ugly and stupid looking.
        You can fix this issue by going to my website 
        <a href="/troll">buymy6monthprogramforthecure.com</a>.
    </p>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th style="width:300px">Email</th>
            <th>Phone</th>
        </tr>
    {% for client in clients %}
        <tr>
            <td>{{client.name}}</td>
            <td>{{client.contact_info.email_address}}</td>
            <td>{{client.contact_info.phoneNumber}}</td>
        </tr>
    {% endfor %}
    </table>
{% endif%}

<h1 class="page-header center">Brokered Transactions:</h1>
<table>
    <tr>
        <th>Date</th>
        <th style="width:100px">Type</th>
        <th style="width:400px">Property</th>
        <th style="width:200px">Client</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{transaction.date}}</td>
        {% if transaction.transaction_type %}
            <td>BOUGHT</td>
        {% else %}
            <td>SOLD</td>
        {% endif %}
        <td>{{transaction.property.address}}</td>
        <td>{{transaction.client.name}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}