{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <h1>Sign In</h1>
    <h3>let's get started</h3>
    <form class="center" method="POST" action="/agentSignIn">
        <span>
        <label for="userName">Enter your name:</label>
        <input type="text" name="userName" placeholder="Enter here" required>
        </span>
        <span>
        <label for="userPhone">Enter your phone number:</label>
        <input type="text" name="userPhone" placeholder="Enter here" required>
        </span>
        <span>
        <label for="userEmail">Enter your Email:</label>
        <input type="text" name="userEmail" placeholder="Enter here" required>
        </span>
        <span>
        <label for="userFirm">Select your firm:</label>
        <select name="userFirm" id="userFirm">
            <option value="0">Select firm</option>
        {% for firm in firms %}
            <option value="{{ firm.firm_id }}">{{firm.name}}</option>
        {% endfor %}
        </select>
        </span>
        <span>
        <label for="userCommission">Enter your commission rate:</label>
        <input type="number" name="userCommission" placeholder="Enter here" required>
        </span>
        <button type="submit">Sign Up</button>
    </form>
{% endblock %}