{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="center page-header">Agents</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Firm</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Id</th>
        </tr>
        {% for agent in agents %}
        <tr>
            <td>{{agent.name}}</td>
            <td>{{agent.firm.name}}</td>
            <td>{{agent.contact_info.email_address}}</td>
            <td>{{agent.contact_info.phoneNumber}}</td>
            <td>{{agent.agentID}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}