{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>Agents</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Firm</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Id</th>
        </tr>
        {% for agent in agents %}
        <tr>
            <th>{{agent.name}}</th>
            <th>{{agent.firm.name}}</th>
            <th>{{agent.contact_info.email_address}}</th>
            <th>{{agent.contact_info.phoneNumber}}</th>
            <th style="width:100px">{{agent.agentID}}</th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}