{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1 class="page-header center">Welcome, {{client.name}}</h1>
<section class="center">
    <h3>Your Id: {{client.client_id}}</h3>
    <h3>Your Agent: {{client.agent.name}}</h3>
</section>

<h1 class="page-header center">Your Transactions</h1>
{% if transactions | length == 0 %}
    <p>You have no transactions.</p>
{% else %}
    <table>
        <tr>
            <th>Date</th>
            <th style="width:100px">Type</th>
            <th style="width:200px">Property</th>
            <th style="width:200px">Agent</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{transaction.date}}</td>
                {% if transaction.transaction_type == 1%}
                    <td>BOUGHT</td>
                {% elif transaction.transaction_type == 0%}
                    <td>SOLD</td>
                {% endif %}
                <td>{{transaction.property.address}}</td>
                <td>{{transaction.agent.name}}</td>
            </tr>
        {% endfor %}
    </table>>
{% endif %}


<h1 class="page-header center">Listed Properties</h1>

{% if properties | length == 0 %}
    </table>
    <p>You have no properties. Why don't you try stacking some paper, and maybe then you'll have some.</p>
{% else %}]
    <table>
        <tr>
            <th style="width:400px">Address</th>
            <th style="width:100px">Listed Price</th>
            <th style="width:100px"></th>
        </tr>
    {% for property in properties %}
        <tr>
            <td>{{property.address}}</td>
            <td>${{property.price}}</td>

            <td><a href="/removeProperty/{{ property.property_id }}" class="anchor-button">Remove</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}


<h1 class="page-header center">Add a property</h1>
<form class="center" method="POST" action="{{ url_for('addProperty', client_id=client.client_id) }}">
    <span>
        <label for="address">Address:</label>
        <input type="text" name="address" placeholder="Address">
    </span>
    <span>
        <label for="price">Listing Price: $</label>
        <input type="number" step="0.01" name="price" placeholder="Listing Price">
    </span>
    <button type="submit">Add Property</button>
</form>

{% endblock %}