{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Sign Up</h1>
<h3>let's get started</h3>
<form class="center" method="POST" action="/clientSignUp">
    <span>
        <label for="userName">Enter your name:</label>
        <input type="text" name="userName" placeholder="Enter here" required>
    </span>
    <span>
        <label for="userPhone">Enter your phone number:</label>
        <input type="text" name="userPhone" placeholder="Enter here" required>
    </span>
    <span>
        <label for="userEmail">Enter your Email:</label>
        <input type="text" name="userEmail" placeholder="Enter here" required>
    </span>
    <span>
        <label for="userAgentId">Enter your agent's id:</label>
        <input type="number" name="userAgentId" placeholder="Enter here" required>
    </span>
    <button type="submit">Sign Up</button>
</form>
<br>
<a href="/find_agent" class="anchor-button">Find me an agent</a>
{% endblock %}