{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <h1>Lets find an agent best for you,</h1>
    <h3></h3>
    <form method="POST" action="/findAgent">
        <label for="userAgentPreference">I'd like a</label>
        <select name="userAgentPreference" id="userAgentPreference">
            <option value="0">More personal agent</option>
            <option value="1">Highly demanded agent</option>
            <option value="2">Experience in listing properties</option>
            <option value="3">Experience in buying properties</option>
        </select>
        <br>
        <button type="submit" style="background-color:rgb(47, 167, 101); color:white;">
            Recommend me agents! 
        </button>
    </form>
{% endblock %}