{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1 id="welcome">Welcome</h1>
<div>
    <form id="signin-form" method="POST" action="/signIn">
        <section>
        <label for="userType">Sign in as:</label>
        <select name="userType" id="userType">
            <option value="client">Client</option>
            <option value="agent">Agent</option>
        </select>
    </section>
    <span>
        <label for="userId">Enter your id:</label>
        <input type="number" min="1" name="userId" placeholder="Enter here">
        <button type="submit">Sign In</button>
    </span>
    </form>
</div>
<div id="signup-button-section" class="center">
    <a class="anchor-button" href="/client_sign_up_page">Client Sign Up</a>
    <a class="anchor-button" href="/agent_sign_up_page">Agent Sign Up</a>
</div>
{% endblock %}