{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
<h1 class="center page-header">Available Properties</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Address</th>
        <th>Listed Price</th>
        <th>Listing Agent</th>
        <th>Lising Client</th>
    </tr>
    {% for property in properties %}
    <tr>
        <td>{{property.property_id}}</td>
        <td>{{property.address}}</td>
        <td>${{property.price}}</td>
        <td>{{property.client.agent.name}}</td>
        <td>{{property.client.name}}</td>
        <td><a href="/purchase_property/{{ property.property_id }}" class="anchor-button">Purchase</a></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}