{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Purchase Property</h1>
<p>By entering this transaction, it is assumed that you, the buyer, 
    have consulted with your agent and the listing agent 
    for this property. All parties have agreed to make this transaction.
</p>
<form method="POST" action="{{ url_for('purchaseProperty', property_id=property.property_id) }}">
    <label for="userId">Enter your id:</label>
    <input type="number" name="userId" placeholder="Enter here">
    <label for="userName">Enter your name:</label>
    <input type="text" name="userName" placeholder="Enter here">
    <br><br>
    <table>
        <tr>
            <th>Address</th>
            <th>Listed Price</th>
            <th>Listing Agent</th>
            <th>Lising Client</th>
        </tr>
        <tr>
            <td>{{property.address}}</td>
            <td>${{property.price}}</td>
            <td>{{property.client.agent.name}}</td>
            <td>{{property.client.name}}</td>
        </tr>
    </table>
    <button type="submit">CONFIRM</button>
</form>
<a class="anchor-button" href="/properties">
        CANCEL
</a>
<br>
<br>
{% endblock %}