{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>Transactions</h1>
    <table>
        <tr>
            <th>Date</th>
            <th style="width:200px">Type</th>
            <th>Property</th>
            <th>Agent</th>
            <th>Client</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{transaction.date}}</td>
            {% if transaction.transaction_type%}
            <td>BOUGHT</td>
            {% else %}
            <td>SOLD</td>
            {% endif %}
            <td>{{transaction.property.address}}</td>
            <td>{{transaction.agent.name}}</td>
            <td>{{transaction.client.name}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}